# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular data science languages
* List of libraries for data science
* List of tools for data science
* Using arithmetic operations in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. scikit-learn
5. caret
6. ggplot
7. GGally

|Data Science Tools|
|-|
|Jupyter Notebooks / JupyterLab|
|Google Colab|
|Apache Spark|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200 /60

3.3333333333333335

### Author:
Sultan